@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0d192b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  background-color: #14253d;
  border-radius: .5rem;
  -ms-flex-preferred-size: 325px;
      flex-basis: 325px;
  margin: 0 auto;
  padding: 20px;
  margin: 20px;
  box-shadow: -24px 8px 59px 14px rgba(2, 19, 54, 0.95);
  -webkit-box-shadow: -24px 8px 59px 14px rgba(2, 16, 48, 0.95);
  -moz-box-shadow: -24px 8px 59px 14px rgba(3, 19, 56, 0.95);
}

.card .card-image {
  position: relative;
  cursor: pointer;
}

.card .card-image img {
  border-radius: .5rem;
  width: 100%;
}

.card .card-image:hover::before {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00fff7;
  border-radius: .5rem;
  content: url(./../assets/images/icon-view.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
}

.card .main-image:hover {
  opacity: .4;
}

.card .card-title {
  font-size: 15px;
}

.card .card-title a {
  font-size: 20px;
  color: white;
  cursor: pointer;
  vertical-align: middle;
}

.card .card-title a:hover {
  color: #00fff7;
}

.card .card-title p {
  color: #8bacda;
  font-weight: 300;
}

.card .card-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: middle;
}

.card .card-subtitle img, .card .card-subtitle span {
  vertical-align: middle;
}

.card .card-subtitle .subtitle-price {
  color: #00fff7;
  font-weight: 600;
}

.card .card-subtitle .subtitle-date {
  color: #8bacda;
  font-weight: 300;
}

.card hr {
  margin: 1rem 0;
  border-top-color: #8bacda;
  border-bottom: 0;
}

.card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.card .card-footer img {
  border: 1px solid white;
  border-radius: 2rem;
  height: 30px;
  width: 30px;
}

.card .card-footer h2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8bacda;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 400;
}

.card .card-footer h2 a {
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

.card .card-footer h2 a:hover {
  color: #00fff7;
}
/*# sourceMappingURL=style.css.map */